<!--Answer type 1. Checkboxes-->
<form role="form" id="answerType1" novalidate>
    <div class="checkbox" ng-repeat="option in question.options">
        <label><input type="checkbox" value="{{option.value}}" ng-model="question.answer" ng-change="setDirty()">{{option.text}}</label>
    </div>
</form>

<!--Answer type 2. Radio buttons-->
<form role="form" id="answerType2" novalidate>
    <div class="radio" ng-repeat="option in question.options">
        <label><input type="radio" name="optradio" value="{{option.value}}" ng-model="question.answer" ng-change="setDirty()">
            {{option.text}}
        </label>
    </div>
</form>

<!--Answer type 3. TextBox-->
<form role="form" id="answerType3" novalidate>
        <div class="form-group" ng-repeat="option in question.options">
            <label for="{{'section' + section.id + 'Question' + question.id}}">{{option.text}}</label>
            <input type="{{option.textBoxType}}" class="form-control" id="{{'section' + section.id + 'Question' + question.id}}"
                   value ="{{option.value}}" ng-model="question.answer" ng-change="setDirty()">
        </div>
</form>

<!--Answer type 4. Dropdown select-->
<form role="form" id="answerType4" novalidate>
    <div class="form-group">
        <label for="{{'section' + section.id + 'Question' + question.id}}">{{option.text}}</label>
        <select class="form-control" id="{{'section' + section.id + 'Question' + question.id}}" ng-model="question.answer" ng-change="setDirty()">
            <option ng-repeat="option in question.options" value="{{option.value}}">{{option.text}}</option>
        </select>
    </div>
</form>
